name: tests

on:
  push:
    branches: [ master, renovate/** ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    name: Build
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Workflow Action
        uses: styfle/cancel-workflow-action@0.9.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Use Node.js 16.10
        uses: actions/setup-node@v2
        with:
          node-version: 16.10

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-16.10-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install libkrb5-dev (for run-rs)
        run: |
          sudo apt update
          sudo apt install libkrb5-dev

      - name: Install
        run: |
          yarn config set ignore-engines true
          yarn

      - name: Lint
        run: yarn build

  lint:
    name: Lint
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Use Node.js 16.10
        uses: actions/setup-node@v2
        with:
          node-version: 16.10

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-16.10-modules-${{ hashFiles('**/yarn.lock') }}

      - name: EditorConfig Lint
        uses: docker://mstruebing/editorconfig-checker:2.3.5@sha256:b78daacf0049058ca85afddbbed6c53bd3bc2a24d3dd0b2363e34ebb4463dee1

      - name: Install libkrb5-dev (for run-rs)
        run: |
          sudo apt update
          sudo apt install libkrb5-dev

      - name: Install
        run: |
          yarn config set ignore-engines true
          yarn

      - name: Lint
        run: yarn lint

  test:
    name: Tests
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 14, '16.10', 17 ]
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install libkrb5-dev (for run-rs)
        run: |
          sudo apt update
          sudo apt install libkrb5-dev

      - name: Init docker
        run: docker-compose up -d

      - name: Install
        run: |
          yarn config set ignore-engines true
          yarn

      - name: Set CC Required env vars
        run: export GIT_BRANCH=$GITHUB_HEAD_REF && export GIT_COMMIT_SHA=$(git rev-parse origin/$GITHUB_HEAD_REF)

      - name: Check for changes
        id: changed_packages
        run: |
          echo "::set-output name=changed_packages::$(node ./node_modules/.bin/lerna changed -p | wc -l | xargs)"

      - name: Check for changes 2
        if: steps.changed_packages.outputs.changed_packages == '0'
        run: |
          echo "no changes detected by lerna"

      - name: Test
        if: steps.changed_packages.outputs.changed_packages != '0'
        run: |
          yarn run-rs-in-background
          yarn coverage > COVERAGE_RESULT
          echo "$(cat COVERAGE_RESULT)"
          git status && git diff

      - name: Codecov
        if: steps.changed_packages.outputs.changed_packages != '0'
        uses: codecov/codecov-action@master

      - name: Codeclimate
        if: steps.changed_packages.outputs.changed_packages != '0'
        uses: paambaati/codeclimate-action@v3.0.0
        env:
          CC_TEST_REPORTER_ID: e2a39c5dc1a13674e97e94a467bacfaec953814982c7de89e9f0b55031e43bd8
        with:
          coverageCommand: echo "$(cat COVERAGE_RESULT)"

      - name: Teardown docker
        run: docker-compose down

  publish:
    name: Publish
    if: github.ref == 'refs/heads/master' && !contains(github.event.head_commit.message, '[skip ci]')
    runs-on: ubuntu-latest
    needs: [ test, build, lint ]
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0 # we need to pull everything to have correct dev version suffix
          ref: master

      - name: Use Node.js 16.10
        uses: actions/setup-node@v2
        with:
          node-version: 16.10

      - name: Cache node_modules
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: ${{ runner.os }}-16.10-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install libkrb5-dev (for run-rs)
        run: |
          sudo apt update
          sudo apt install libkrb5-dev

      - name: Check for changes
        id: changed_packages
        run: |
          echo "::set-output name=changed_packages::$(node ./node_modules/.bin/lerna changed -p | wc -l | xargs)"

      - name: Check for changes 2
        if: steps.changed_packages.outputs.changed_packages == '0'
        run: |
          echo "no changes detected by lerna"

      - name: Build
        if: steps.changed_packages.outputs.changed_packages != '0'
        run: yarn build

      - name: Release dev version for testing
        if: steps.changed_packages.outputs.changed_packages != '0'
        run: |
          echo "access=public" >> .npmrc
          echo "//registry.npmjs.org/:_authToken=${NPM_TOKEN}" >> .npmrc
          git fetch --depth=1 origin +refs/tags/*:refs/tags/*
          yarn publish:next --yes --no-verify-access
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
