name: tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
        fetch-depth: 0

    - name: EditorConfig Lint
      uses: docker://mstruebing/editorconfig-checker:2.2.0@sha256:cafda9b945dd452928aba85d20b79def419237c6e961a46193dbc2d6fc08f561

    - name: Install libkrb5-dev (for run-rs)
      run: sudo apt install libkrb5-dev

    - name: Init docker
      run: docker-compose up -d

    - uses: actions/cache@v2
    - name: Cache node_modules
      with:
        path: '**/node_modules'
        key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}

    - name: Install
      run: |
        yarn config set ignore-engines true
        yarn
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

    - name: Set CC Required env vars
      run: export GIT_BRANCH=$GITHUB_HEAD_REF && export GIT_COMMIT_SHA=$(git rev-parse origin/$GITHUB_HEAD_REF)

    - name: Build
      run: yarn build

    - name: Lint
      run: yarn lint

    - name: Test
      run: |
        yarn run-rs-in-background
        yarn coverage > COVERAGE_RESULT
        echo "$(cat COVERAGE_RESULT)"

    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Codeclimate
      uses: paambaati/codeclimate-action@v2.7.4
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageCommand: echo "$(cat COVERAGE_RESULT)"

    - name: Teardown docker
      run: docker-compose down
