name: tests

on:
  push:
    branches: [ master, v7, renovate/** ]
  pull_request:
    branches: [ master, v7 ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v6

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24
          package-manager-cache: false

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      # Yarn dependencies cannot be cached until yarn is installed
      # WORKAROUND: https://github.com/actions/setup-node/issues/531
      - name: Extract cached dependencies
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install
        run: yarn

      - name: Test TS
        run: yarn tsc-check-tests

      - name: Build
        run: yarn build

  docs:
    name: Docs build
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v6

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24
          package-manager-cache: false

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      # Yarn dependencies cannot be cached until yarn is installed
      # WORKAROUND: https://github.com/actions/setup-node/issues/531
      - name: Extract cached dependencies
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install
        run: yarn

      - name: Check spelling (next docs)
        uses: crate-ci/typos@master
        with:
          files: docs/docs

      - name: Check spelling (versioned docs)
        uses: crate-ci/typos@master
        with:
          files: docs/versioned_docs

      - name: Build & deploy docs
        run: |
          cd docs
          yarn
          export MIKRO_ORM_DOCS_TESTING=1
          yarn build

  lint:
    name: Lint
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v6

      - name: Use Node.js 22
        uses: actions/setup-node@v6
        with:
          node-version: 24
          package-manager-cache: false

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      # Yarn dependencies cannot be cached until yarn is installed
      # WORKAROUND: https://github.com/actions/setup-node/issues/531
      - name: Extract cached dependencies
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install
        run: yarn

      - name: Lint
        run: yarn lint

  test:
    name: Tests
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 22, 24 ]
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          package-manager-cache: false

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      # Yarn dependencies cannot be cached until yarn is installed
      # WORKAROUND: https://github.com/actions/setup-node/issues/531
      - name: Extract cached dependencies
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install
        run: yarn

      - name: Init docker
        run: |
          docker compose up -d --wait

      - name: Set CC Required env vars
        run: export GIT_BRANCH=$GITHUB_HEAD_REF && export GIT_COMMIT_SHA=$(git rev-parse origin/$GITHUB_HEAD_REF)

      - name: Get number of CPU cores
        id: cpu-cores
        uses: SimenB/github-actions-cpu-cores@v2

      - name: Test
        if: matrix.node-version != 24
        run: |
          yarn test --max-workers ${{ steps.cpu-cores.outputs.count }}
          git status && git diff
        env:
          RETRY_TESTS: 1

      - name: Coverage
        if: matrix.node-version == 24
        run: |
          yarn coverage --max-workers ${{ steps.cpu-cores.outputs.count }}
          git status && git diff
        env:
          RETRY_TESTS: 1

      - name: Trigger release workflow (canary)
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          repository: mikro-orm/mikro-orm
          event-type: trigger-release

      - name: Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Teardown docker
        run: docker compose down

  test-windows:
    name: Tests (windows)
    if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
    runs-on: 'windows-latest'
    strategy:
      fail-fast: false
      matrix:
        node-version: [ 22, 24 ]
    steps:
      - name: Checkout Source code
        uses: actions/checkout@v6

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          package-manager-cache: false

      - name: Enable corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate

      # Yarn dependencies cannot be cached until yarn is installed
      # WORKAROUND: https://github.com/actions/setup-node/issues/531
      - name: Extract cached dependencies
        uses: actions/setup-node@v6
        with:
          cache: yarn

      - name: Install
        run: yarn

      - name: Test (SQLite only)
        run: yarn test:sqlite

  release:
    name: Release
    if: github.ref == 'refs/heads/master' ||  github.ref == 'refs/heads/v7'
    runs-on: ubuntu-latest
    needs: [ build, test, lint, docs ]
    steps:
      - name: Publish packages
        uses: apify/workflows/execute-workflow@main
        with:
          workflow: release.yml
          inputs: >
            {
              "ref": "${{ steps.commit.outputs.commit_long_sha || github.sha }}",
              "dist-tag": "next"
            }
