name: test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [8.x, 10.x, 12.x, 13.x]

    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Init docker
      run: docker-compose up -d

    - name: Install
      run: |
        yarn config set ignore-engines true
        yarn
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}

    - name: Build
      run: yarn build

    - name: Lint
      run: yarn lint

    - name: Test
      run: |
        yarn coverage > COVERAGE_RESULT
        yarn coveralls
      env:
        ORM_PARALLEL: 1
        COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

    - name: Codeclimate
      uses: paambaati/codeclimate-action@v2.3.0
      env:
        CC_TEST_REPORTER_ID: ${{ secrets.CC_TEST_REPORTER_ID }}
      with:
        coverageCommand: echo "$(cat COVERAGE_RESULT)"

    - name: Teardown docker
      run: docker-compose down
